click==8.0.3
greenlet==1.1.2
iterfzf==0.5.0.20.0
msgpack==1.0.3
numpy==1.22.0
packaging==21.3
pandas==1.3.5
Pint==0.18
pynvim==0.4.3
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
six==1.16.0
